# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld.1]
log-bin=                 primary-bin

[mysqld.2]


[ENV]
PRIMARY_MYPORT=           @mysqld.1.port
PRIMARY_MYSOCK=           @mysqld.1.socket

REPLICA_MYPORT=            @mysqld.2.port
REPLICA_MYSOCK=            @mysqld.2.socket
