!include ../my.cnf

[mysqld.1]
server_id=1

[mysqld.2]
server_id=2
report-host=
report-user=

[mysqld.3]
server_id=3
report-host=replica2
replica-net-timeout=5

[ENV]
REPLICA_MYPORT2=		@mysqld.3.port
REPLICA_MYSOCK2=		@mysqld.3.socket


